body{
    background: rgb(89,0,232);
    background: linear-gradient(90deg, rgba(89,0,232,1) 0%, rgba(9,9,121,1) 35%, rgba(101,0,121,1) 100%);
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #302e2e;  */
    background-color: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(139, 139, 139); 
    border-radius: 6px;
    width: 10px !important;  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 115, 243); 
    width: 10px !important;
  }

  .color-king path{
    fill: #f5bd00;
  }